<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <h2>About Us</h2>
    <p>Welcome to our web app! We specialize in 3D visualization and data processing.</p>

        <footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-section">
                        <p><a href="{{ url_for('about') }}">About</a></p>
                    </div>
                    <div class="col-md-4 footer-section">
                        <p><a href="{{ url_for('contact') }}">Contact Us</a></p>
                    </div>
                    <div class="col-md-4 footer-section">
                        <p>&copy; 2024 Mono-Depth Vision. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>